__pycache__/
Thumos14-Annotations/
Thumos14reduced-Annotations/
*.npy
*.pkl
logs/*
models/*
ckpt/*
*.back
.vscode/*
*.log
*.pdf
*.png
*.jpg
tmp_log/
tmp_log_thumos/
ActivityNet1.2-Annotations/*
ActivityNet1.2-I3D-JOINTFeatures.npy
ActivityNet1.2-mini-Annotations/*
ActivityNet1.2-mini-I3D-JOINTFeatures.npy